<%- include('header') %>
    <%- include('nav') %>
	<!-- 内容部分 -->
	<!-- 主宽度 -->
	<div class="container body-content">
		<!-- 面包屑 -->
		<ol class="breadcrumb hidden-xs">
			<li><a href="#">首页</a></li>
			<li><a href="#">言情小说</a></li>
			<li><a href="#">都市超级医圣</a></li>
			<li class="active">第一章 话别</li>
			<span class="pull-right hidden-xs">
				<select name="bcolor" id="bgcolor">
					<option style="background-color: #E9FAFF" value="#E9FAFF">底色</option>
					<option style="background-color: #E9FAFF" value="#E9FAFF">默认</option>			  
					<option style="background-color: #ffffff" value="#ffffff">白色</option>
					<option style="background-color: #e3e8f7" value="#e3e8f7">淡蓝</option>			  
					<option style="background-color: #daebfc" value="#daebfc">蓝色</option>
					<option style="background-color: #ebeaea" value="#ebeaea">淡灰</option>
					<option style="background-color: #e7e3e6" value="#e7e3e6">灰色</option>             <option style="background-color: #dedcd8" value="#dedcd8">深灰</option>             <option style="background-color: #d8d7d7" value="#d8d7d7">暗灰</option>             <option style="background-color: #e6fae4" value="#e6fae4">绿色</option>             <option style="background-color: #f9fbdd" value="#f9fbdd">明黄</option>
				</select>			  
				<select name="txtcolor" id="txtcolor">
					<option value="">字色</option>     
					<option value="#000000">黑色</option>              
					<option value="#ff0000">红色</option>              
					<option value="#006600">绿色</option>              
					<option value="#0000ff">蓝色</option>              
					<option value="#660000">棕色</option>			  
				</select>   
				<select name="fonttype" id="fonttype"> 		
					<option value="24px">字号</option>	  
					<option value="12px">小号</option> 			  
					<option value="14px">较小</option> 			  
					<option value="16px">中号</option>			  
					<option value="18px">较大</option>			  
					<option value="24px">大号</option>			  
				</select>
			</span>
		</ol>
		<div class="panel panel-default panel-content" id="content">
			<div class="read-head">
				<h1 class="read-title"><%= chapter.chapterName %> </h1>
				<p class="read-tags tags">
					<a class="red" href="javascript:void(0)" target="_blank" title="作者：断桥残雪">断桥残雪</a>
                    <a class="red" href="/list/2.html" target="_blank" title="<%= bookInfo.type %>"><%= bookInfo.type %></a>
                    <span class="blue">字数：782万</span>
                    <span class="blue">阅读数：36w+</span>
                    <span class="blue">连载中</span>
				</p>
			</div>
            <pre>
                <%= chapterTxt %>
            </pre>
			<div class="panel-body" id="book-content"> 
                <%= chapterTxt %> 
                <p class="text-danger text-center mg0">本章未完，点击下一页继续阅读</p>
            </div>
			<div class="read-pages">
				<a href="#" class="btn btn-default">(←)上一章</a>
				<a href="#" class="btn btn-default">章节目录(Enter)</a>
				<a href="#" class="btn btn-default">下一页(→)</a>
			</div>
			<p class="text-muted text-center text-notice">
				温馨提示：按 回车[Enter]键 返回书目，按 ←键 返回上一页， 按 →键 进入下一页，加入书签方便您下次继续阅读。
			</p>
		</div>
        <%- include('footer') %>
	</div>
	<script type="text/javascript" src="/js/read.js"></script>
<%- include('footerHtml') %>