<%- include('header') %> 
    <%- include('nav') %>
	<!-- 内容部分 -->
	<!-- 主宽度 -->
	<div class="container body-content">
		<!-- 栅格系统 -->
		<div class="row">
			<!-- 左边 -->
			<div class="col-md-8">
				<div class="panel panel-default hidden-xs">
				  	<div class="panel-heading">
				  		<div class="row">
						    <h3 class="col-xs-4">本站推荐</h3>
						    <div class="col-md-6 col-xs-8 pull-right">
						    	<div class="input-group">
							      	<input type="text" class="form-control" placeholder="请输入需要搜索的关键字">
							      	<span class="input-group-btn">
								        <button class="btn btn-default" type="button">搜索</button>
							      	</span>
							    </div><!-- /input-group -->
						    </div>
				  		</div>
				 	</div>
				  	<div class="panel-body list-box">
				  		<div class="row">
						  <% recommend.forEach(function(item){ %> 
						    <div class="col-md-3 col-xs-6 list-item">
						    	<a href="/chapter/<%= item.bookId %>" class="thumbnail">
						    		<img src=<%= item.img %> onerror="javascript:this.src='images/error.jpg';" alt="" height="182">
						    		<div class="caption">
								        <h3><%= item.name %></h3>
								        <p class="txt-author"><%= item.author %> / 著</p>
								        <p class="txt-watching"><%= item.watch %> 在看</p>
							      </div>
						    	</a>
						    </div>
						  <% }) %>
				  		</div>
				  	</div>
				</div>
			</div>
			<!-- 右边 -->
			<div class="col-md-4">
				<div class="panel panel-default">
				  	<div class="panel-heading" style='height:55px;'>
						<h3>热门列表</h3>
				 	</div>
					<div class="list-box"> 
						<ul class="list-group">
							<% hot.forEach(function(item, index){ %>
								<li class="list-group-item">
									<span class="nums nums-c<%= index < 3 ? 1 : ''  %>"><%= index +1 %></span><a href="chapter/<%= item.id %>"><%= item.name %></a><span class="text-muted">/<%= item.author %></span><span class="pull-right text-muted"><%= item.watch %></span>
								</li>	
							<% }) %>
						
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
				  	<div class="panel-heading">
					    <h3 class="panel-title">最近更新</h3>
				  	</div>
			    	<table class="table">
			    		<tbody>
                            <% last.forEach(function(item){ %>
                                <tr>
                                    <td class="hidden-xs text-muted" width="15%"><%= item.type %></td>
                                    <td ><a href="/chapter/<%= item.bookId %>"><%= item.name %></a></td>
                                    <td class="hidden-xs"><a href="/book/<%= item.chapterId %>/<%= item.chapterId%>"><%= item.chapterName %> </a>
                                    </td>
                                    <td class="txt-muted"><%= item.author %></td>
                                    <td class="tr"><%= item.updateTIme %></td>
                                </tr>
                            <% }) %>
			    		</tbody>
			    	</table>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
				  	<div class="panel-heading">
					    <h3 class="panel-title">最新入库</h3>
				  	</div>
			    	<table class="table">
			    		<tbody>
			    			<% lastIn.forEach(function(item){ %>
                                <tr>
                                    <td class="hidden-xs text-muted"><%= item.type %></td>
                                    <td ><a href="/chapter/<%= item.bookId %>"><%= item.name %></a></td>
                                    <td class="tr txt-muted"><%= item.author %></td>
                                </tr> 
                            <% }) %>
			    			
			    		</tbody>
			    	</table>
				</div>
			</div>
		</div>
		<!-- 友情链接 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="text-muted">友情链接</span>
			</div>
			<div class="panel-body friendlink">
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
				<a href="#">友情链接</a>
			</div>
		</div>
		<%- include('footer') %>
	</div>
 <%- include('footerHtml') %>